{% extends 'base.html' %}
{% load static %}

{% block title %}
Perfil de {{ usuario.username }}
{% endblock %}

{% block content %}
<h1>Perfil de {{ usuario.username }}</h1>
<p>En blog desde {{ usuario.date_joined|date:"d M Y" }}</p>  <!-- Verifica que esta línea esté presente -->
<p>Vistas del perfil - {{ usuario.vistas }}</p>
<p>Biografía: {{ usuario.descripcion }}</p>

{% if usuario.icono %}
    <img src="{{ usuario.icono.url }}" alt="Icono de {{ usuario.username }}" class="img-perfil">
{% else %}
    <img src="{% static 'img/default-icon.png' %}" alt="Icono por defecto" class="img-perfil">
{% endif %}

<h2>Posts de {{ usuario.username }}</h2>
<ul>
    {% for post in posts %}
        <li><a href="{% url 'detalle' post.id %}">{{ post.titulo }}</a> - {{ post.fecha_publicacion|date:"d M Y" }}</li>
    {% empty %}
        <li>No hay posts publicados por este usuario.</li>
    {% endfor %}
</ul>
{% endblock %}
